<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Pokédex</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>

     <!--header/cabecalho -->

     <header>
      <div class="cabecalho">
          <a href="/">
              <img src="/imgs/pokemon-logo.svg" alt="Logo Pokemon" class="logo">
          </a>

          <nav>
              <p><a href="/">Início</a></p>
              <p><a href="/add-pokemon">Cadastrar Pokemon</a></p>
          </nav>
      </div>
    </header>

    <div class="inner">
   <div class="pokemon-list">
      <% pokemons.forEach(function(pokemon) { %>
        <a href="/pokemon/<%= pokemon.id %>"><%= pokemon.nome %> </a>
      <% }); %>
  </div>
  </div>

  </body>
</html>